.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    .bg-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bg-overlay {
        position: absolute;
        inset: 0;
        background: var(--bg-overlay);
        backdrop-filter: blur(3px);
    }
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1.5rem;
}

.header {
    width: 100%;
    margin-bottom: 2rem;

    .logo {
        height: 40px;
    }
}

.content-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-card {
    background: #1A1A20;
    border-radius: 24px;
    padding: 2.5rem 2rem;
    width: 100%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.527);

    h1 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
        color: var(--text-white);
    }
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    background: #121212;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 0.75rem;

    &:focus-within {
        box-shadow: 0 0 0 1px var(--primary-color);
    }

    .input-icon {
        width: 20px;
        height: 20px;
        opacity: 0.7;

        &.left {
            margin-right: 1rem;
        }

        &.right {
            margin-left: auto;
        }

        &.clickable {
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }

    .videoflix-input {
        background: transparent;
        border: none;
        color: var(--text-white);
        width: 100%;
        height: 100%;
        font-size: 1rem;
        outline: none;

        &::placeholder {
            color: #b3b3b3;
        }
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.btn-login {
    background-color: var(--bg-blue);
    color: var(--text-white);
    border: none;
    border-radius: 50px;
    padding: 0.8rem 3rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-hover);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.links-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .forgot-pass {
        color: var(--text-white);
        font-weight: 600;
        font-size: 1rem;
    }

    .signup-text {
        color: #b3b3b3;
        font-size: 0.9rem;
    }

    .signup-link {
        color: var(--text-white);
        font-weight: bold;
        margin-left: 0.3rem;
    }

    a:hover {
        text-decoration: underline;
    }
}