.hero-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    .bg-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: inset 0 0 100px rgb(0, 0, 0);
    }
}

.landing-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.hero-content {
    max-width: 800px;
    z-index: 7;

    h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        line-height: 1.1;
    }
}

.sub-container p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--text-gray);
    animation: fadeIn 1s ease-out;
}

.email-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    .input-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .email-input {
        width: 100%;
        padding: 0.75rem;
        background: rgba(20, 20, 20, 0.6);
        border: 1px solid var(--text-white);
        border-radius: var(--border-radius);
        color: var(--text-white);
        font-size: 1rem;
        backdrop-filter: blur(5px);

        &::placeholder {
            color: var(--text-white);
        }

        &:focus {
            outline: 2px solid var(--text-white);
            background: rgba(0, 0, 0, 0.8);
        }

        &.ng-invalid.ng-touched {
            border: 1px solid var(--error-color);

            &:focus {
                outline: 2px solid var(--error-color);
            }
        }
    }

    .error-msg {
        color: var(--error-color);
        font-size: 0.85rem;
        margin-top: 0.5rem;
        text-align: left;
        padding-left: 0.2rem;
    }

    .btn-start {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-weight: bold;
        background: var(--bg-blue);
        color: var(--text-white);
        padding: 0.75rem 2rem;
        margin: 0 auto;
        font-size: 1.1rem;
        gap: 0.5rem;
        border-radius: var(--border-radius);
        cursor: pointer;

        .btn-icon {
            width: 18px;
            height: 18px;
        }

        &:hover {
            background: var(--primary-hover);
        }

        &:disabled {
            background: var(--disabled-bg);
            color: var(--disabled-text);
            cursor: not-allowed;
            opacity: 0.8;

            .btn-icon {
                opacity: 0.5;
            }

            &:hover {
                background: var(--disabled-bg);
            }
        }
    }
}

// desktop
@media (min-width: 768px) {
    .hero-content {
        h1 {
            font-size: 3.5rem;
        }

        .subtitle {
            font-size: 1.5rem;
        }
    }

    .email-form {
        flex-direction: row;
        align-items: start;
        max-width: 650px;

        .input-wrapper {
            flex: 1;
        }

        .email-input {
            width: 100%;
            padding: 1rem;
        }

        .btn-start {
            padding: 1rem 2rem;
            font-size: 1.5rem;
            height: 54px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}