<div class="hero-bg">
    <img src="assets/images/index_bg.jpg" alt="Background" class="bg-img">
    <div class="overlay"></div>
</div>

<section class="landing-wrapper">    
    <app-header></app-header>
    <main class="content-area">
        <div class="hero-content">
            <h1>Movies, TV shows, and more</h1>
            <p class="subtitle">Watch whenever you want wherever you want.</p>
            
            <div class="sub-container">
                <p>Enter your email to create or restart your subscription.</p>
                <div class="email-form">
                    <input type="email" placeholder="Email Address" class="email-input">
                    <button routerLink="/register" class="btn-start">Sign Up</button>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</section>