.hero-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    .bg-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: inset 0 0 100px rgb(0, 0, 0);
    }
}

.landing-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2rem;

    padding-top: 80px;
    padding-bottom: 2rem;
}

.hero-content {
    max-width: 800px;
    text-align: center;
    z-index: 7;
    animation: fadeIn 1s ease-out;

    h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        line-height: 1.1;
    }

    .subtitle {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        font-weight: 400;
    }
}

.sub-container p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-gray, #b3b3b3);

}

.email-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    .email-input {
        width: 100%;
        padding: 0.75rem;
        background: rgba(20, 20, 20, 0.6);
        border: 1px solid #5e5e5e;
        border-radius: var(--border-radius);
        color: var(--text-white);
        font-size: 1rem;
        backdrop-filter: blur(5px);

        &::placeholder {
            color: #b3b3b3;
        }

        &:focus {
            outline: 2px solid var(--text-white);
            background: rgba(0, 0, 0, 0.8);
        }
    }

    .btn-start {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-weight: bold;
        background-color: var(--bg-blue);
        color: var(--text-white);
        padding: 0.75rem 2rem;
        margin: 0 auto;
        font-size: 1.1rem;
        border-radius: 50px;
        cursor: pointer;

        &:hover {
            background-color: var(--primary-hover);
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// desktop
@media (min-width: 768px) {
    .hero-content {
        h1 {
            font-size: 3.5rem;
        }

        .subtitle {
            font-size: 1.5rem;
        }
    }

    .email-form {
        flex-direction: row;
        max-width: 650px;

        .email-input {
            flex: 1;
            padding: 1rem;
        }

        .btn-start {
            padding: 1rem 2rem;
            font-size: 1.5rem;
        }
    }
}