@if (selectedVideo) {
    <div class="detail-overlay"(click)="closeDetail()">
        <div class="detail-content" (click)="$event.stopPropagation()">
            <button class="close-btn" (click)="closeDetail()">
                <img src="assets/icons/close.svg" alt="Close">
            </button>
            <div class="detail-image-wrapper">
                <video
                    [appHlsVideo]="selectedVideo.videoUrl + '480p/index.m3u8'"
                    [poster]="selectedVideo.thumbnail"
                    loop
                    playsInline
                    class="detail-bg">
                </video>
                <div class="gradient-overlay-bottom"></div>
            </div>

            <div class="detail-info">
                <h1>{{ selectedVideo.title }}</h1>
                
                <p class="description">
                    {{ selectedVideo.description }}
                </p>

                <button class="btn-play-large" [routerLink]="['/watch', selectedVideo.id]">
                    <img src="assets/icons/play_arrow.svg" alt="Play">
                    Play
                </button>
            </div>
        </div>
    </div>
}

<div class="dashboard-wrapper" [class.no-scroll]="selectedVideo">
    <header class="dashboard-header">
        <a routerLink="/browse" class="logo-link">
            <img src="assets/icons/logo_icon_small.svg" alt="Videoflix" class="logo">
        </a>
        
        <button class="btn-logout" (click)="onLogout()">
            <span>Log Out</span>
        </button>
    </header>

    <main class="content-area">
        @if (heroVideo) {
        <section class="hero-section">
            <div class="hero-bg">
                <video
                    [appHlsVideo]="heroVideo.videoUrl + '480p/index.m3u8'"
                    [poster]="heroVideo.thumbnail"
                    loop
                    playsInline
                    class="hero-video">
                </video>
                <div class="hero-overlay"></div>
            </div>
            
            <div class="hero-content">
                <h1>{{ heroVideo.title }}</h1>
                <p class="hero-description">{{ heroVideo.description }}</p>
                
                <button class="btn-play-hero" [routerLink]="['/watch', heroVideo.id]">
                    <img src="assets/icons/play_arrow.svg" alt="Play">
                    Play
                </button>
            </div>
        </section>
        }

        @for (category of categories; track category.name) {
            <section class="category-section">
                <h2>{{ category.name }}</h2>
                
                <div class="video-scroll-container">
                    @for (video of category.videos; track video.title) {
                        <div class="video-item" (click)="openDetail(video)">
                            <img [src]="video.thumbnail" [alt]="video.title" class="thumbnail">
                        </div>
                    }
                </div>
            </section>
        }
    </main>
    <app-footer></app-footer>
</div>