<div class="dashboard-wrapper">
    <!-- Dashboard Header -->
    <header class="dashboard-header">
        <a routerLink="/browse" class="logo-link">
            <img src="assets/icons/logo_icon_small.svg" alt="Videoflix" class="logo">
        </a>
        
        <button class="btn-logout" (click)="onLogout()">
            <span>Log Out</span>
        </button>
    </header>

    <main class="content-area">
        <!-- TODO: hero section  -->
        @for (category of categories; track category.name) {
            <section class="category-section">
                <h2>{{ category.name }}</h2>
                
                <div class="video-scroll-container">
                    @for (video of category.videos; track video.title) {
                        <div class="video-item" [routerLink]="['/watch', video.id]">
                            <img [src]="video.thumbnail" [alt]="video.title" class="thumbnail">
                        </div>
                    }
                </div>
            </section>
        }
    </main>
    <app-footer></app-footer>
</div>