<div class="bg-container">
    <img src="assets/images/index_bg.jpg" alt="Background" class="bg-image">
    <div class="bg-overlay"></div>
</div>
<div class="auth-wrapper">
<app-header></app-header>

    <main class="content-center">
        <div class="auth-card">
            <h1>Reset password</h1>
            
            <p class="description-text">
                Create a new password for your Videoflix account.
            </p>
            
            <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
                
                <!-- new password -->
                <div class="input-container" [class.input-error]="passwordModel.invalid && passwordModel.touched">
                    <img src="assets/icons/password.png" alt="Password" class="input-icon left" draggable="false">
                    <input 
                        [type]="passwordVisible ? 'text' : 'password'" 
                        name="password" 
                        placeholder="Enter a password" 
                        required 
                        minlength="6"
                        [(ngModel)]="resetData.password"
                        #passwordModel="ngModel"
                        class="videoflix-input">
                    <img 
                        [src]="passwordIcon" 
                        alt="Toggle" 
                        class="input-icon right clickable"
                        (click)="togglePasswordVisibility()"
                        draggable="false">
                </div>

                <!-- error msg password -->
                @if (passwordModel.invalid && passwordModel.touched) {
                    <div class="error-message">
                        @if (passwordModel.errors?.['required']) { <span>Password is required.</span> }
                        @if (passwordModel.errors?.['minlength']) { <span>Password must be at least 6 characters.</span> }
                    </div>
                }

                <!-- confirm password -->
                <div class="input-container" [class.input-error]="!passwordsMatch() && confirmPasswordModel.touched">
                    <img src="assets/icons/password.png" alt="Password" class="input-icon left" draggable="false">
                    <input 
                        [type]="confirmPasswordVisible ? 'text' : 'password'" 
                        name="confirmPassword" 
                        placeholder="Confirm Password" 
                        required
                        minlength="6"
                        [(ngModel)]="resetData.confirmPassword"
                        #confirmPasswordModel="ngModel"
                        class="videoflix-input">
                    <img 
                        [src]="confirmPasswordIcon" 
                        alt="Toggle" 
                        class="input-icon right clickable"
                        (click)="toggleConfirmPasswordVisibility()"
                        draggable="false">
                </div>

                <!-- error msg -->
                @if (!passwordsMatch() && confirmPasswordModel.touched) {
                    <div class="error-message">
                        <span>Passwords must match.</span>
                    </div>
                }

                <div class="btn-container">
                    <button 
                        type="submit" 
                        class="btn-submit" 
                        [disabled]="!resetForm.form.valid || !passwordsMatch()">
                        Reset password
                    </button>
                </div>

            </form>
        </div>
    </main>
    <app-footer></app-footer>
</div>