.footer {
    width: 100%;
    padding: 2rem 0;
    color: var(--text-gray);
    font-size: 1rem;

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 0 2rem;
        width: 100%;
    }
}

.footer-links {
    display: flex;
    gap: 2rem;

    a {
        color: var(--text-gray);

        &:hover {
            color: var(--text-white);
        }
    }
}

.copyright {
    font-size: 0.8rem;
    opacity: 0.7;
}

// desktop
@media (min-width: 768px) {
    .footer {
        padding: 3rem 0;
    }
}