.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    .bg-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bg-overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(3px);
    }
}

.auth-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.content-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.auth-card {
    background: #1A1A20;
    border-radius: var(--border-radius-card);
    padding: 3rem 2rem;
    width: 100%;
    max-width: 450px;
    text-align: center;

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: var(--text-white);
        line-height: 1.2;
    }

    .description-text {
        color: var(--text-white);
        font-size: 1rem;
        margin-bottom: 2rem;
        line-height: 1.5;
        font-weight: 400;
    }
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    background: #121212;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 0.75rem;

    .input-icon {
        width: 20px;
        height: 20px;
        margin-right: 1rem;
        opacity: 0.8;
        user-select: none;
    }

    .videoflix-input {
        background: transparent;
        border: none;
        color: var(--text-white);
        width: 100%;
        height: 100%;
        font-size: 1rem;
        outline: none;

        &::placeholder {
            color: #b3b3b3;
        }
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-submit {
    min-width: 180px;
    background: var(--bg-blue);
    color: var(--text-white);
    border: none;
    border-radius: var(--border-radius);
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background: var(--primary-hover);
    }

    &:disabled {
        background: #616161;
        color: #d1d1d1;
        cursor: not-allowed;
        opacity: 1;
    }
}

.simple-footer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 1rem;

    a {
        color: var(--text-white);
        font-size: 1rem;

        &:hover {
            color: var(--text-gray);
        }
    }
}