<div class="bg-container">
    <img src="assets/images/popcorn.jpg" alt="Background" class="bg-image">
    <div class="bg-overlay"></div>
</div>
<div class="auth-wrapper">
<app-header></app-header>

    <main class="content-center">
        <div class="auth-card">
            <h1>Forgot your password?</h1>
            
            <p class="description-text">
                We will send you an email with instructions to reset your password.
            </p>
            
            <form (ngSubmit)="onSubmit()" #forgotForm="ngForm">
                
                <!-- email -->
                <div class="input-container">
                    <img src="assets/icons/mail.png" alt="Email" class="input-icon left">
                    <input 
                        type="email" 
                        name="email" 
                        placeholder="Email Address" 
                        required 
                        email
                        [(ngModel)]="email"
                        #emailModel="ngModel"
                        class="videoflix-input">
                </div>

                <div class="btn-container">
                    <button type="submit" class="btn-submit" [disabled]="!forgotForm.form.valid">Send Email</button>
                </div>
                
            </form>
        </div>
        
    </main>
    <app-footer></app-footer>
</div>
